.*
**/tsconfig.json
**/webpack.config.js
node_modules
example
generators
public
src
build.mjs
coverage
dangerfile.lite.ts
dangerfile.ts
jest.config.js
jest.patch-cssom.js
sonar-project.properties
spellcheck.json
test-report.xml
tsconfig.build.json
tsconfig.json
tsconfig.storybook.json